<%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main id="main-profile">
        <section id="card">
            <form action="/users/editPerfil?_method=PUT" method="post" id="edit-user">
                <h1>Perfil del Usuario</h1>
                <label for="username">
                    <i class="fas fa-user"></i><input type="text" name="username" id="username" value=<%= users.username %>  > 
                </label>
                <label for="email">
                    <i class="fas fa-envelope"></i><input type="email" name="email" id="email" value=<%= users.email %>>
                </label>
                <label for="password">
                    <i class="fas fa-lock"></i><input type="password" id="password" name="password" value="">
                </label>
                <section id="buttons">
                    <button type="submit"><i class="fas fa-share-square"></i></button>
                </section>
            </form>
        </section>
    </main>
    <%- include ("../partials/footer.ejs") %>
    <script src="/js/header.js"></script>
</body>
</html>