<!DOCTYPE html>
<html>
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main class="main-register"> 
        <form action="/products/create" method="post" enctype="multipart/form-data" id="infoProducto">
            <p class="bienvenido">NUEVO PRODUCTO</p>
            <input class="formulario-register" type="text" placeholder="Producto" name="name" id="name" >           
            <% if (locals.errores && locals.errores.name) { %>
                <p class="feedback">
                    <%= locals.errores.name.msg  %> 
                </p>
            <% } %> 
            <input class="formulario-register" type="number" placeholder="Precio" name="price" id="price"  >
            <select id="type" name="type" class="select">
                <option value="" selected>Apto para</option>
                    <% type.forEach(type => { %>
                            <option value="<%= type.id %>"><%= type.typeName %></option>
                    <% }) %>
            </select>
            <select id="category" name="category" class="select">
                <option value="" selected>Elegir categoría</option>
                    <% category.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.categoryName %></option>
                    <% }) %>
            </select>
            <fieldset class="select">
                <label class="checkbox" for="size">Tamaño:</label>
                    <% size.forEach(size => { %>
                    <input  class="size" type="checkbox" name="sizes" id="size" value="<%= size.id %>">
                    <%= size.sizeName %>
                    <% }) %>
            </fieldset>
            <select id="oferts" name="oferts" class="select">
                <option value="" selected>Oferta</option>
                <option value="true">En oferta</option>
                <option value="false">Sin oferta</option>
            </select>
            <textarea class="select" placeholder="Descripción" name="descr" id="descr" ></textarea>
            <% if (locals.errores && locals.errores.descr) { %>
                <p class="feedback">
                    <%= locals.errores.descr.msg  %> 
                </p>
            <% } %> 
            <input type="file" id="image" name="image" multiple>
            <section id="errores-form"></section>
            <section class="button-enviar">
                <button type="submit" id="enviar">Crear</button>
            </section>
        </form>
    </main>
    <%- include ("../partials/footer.ejs") %> 
    <script src="/js/createProduct.js"></script>
</body>
</html>