<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>    
        <% if (product) { %>   
        <form method="post" action="/update/<%= product.id %>?_method=PUT" enctype="multipart/form-data" id="infoProducto">
            <section id="imagen">
                <figure>
                    <img src="<%= product.images[0].url %>">
                </figure>
                <input type="file" id="submit" value="Editar" class="boton-img">
            </section>
            <section id="detalles">
                <label class="detalle" name="id">N° de Producto: <%= product.id %></label>
                <input class="detalle" type="text" id="producto" name="producto" placeholder="<%= product.name %>">
                <fieldset class="detalle">
                    <label id="precio">$ 
                        <input type="number" placeholder="<%= product.price %>" id="precio" name="precio">
                    </label>
                </fieldset>
                <textarea class="detalle" placeholder="<%= product.descr%>" id="descr" name="descr"></textarea>
                <select id="type" class="detalle">
                    <option value="" selected>Editar categoría</option>
                    <% category.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
                <fieldset class="select detalle">
                    <label class="checkbox" for="size">Tamaño:</label><br><br>
                        <% size.forEach(size => { %>
                        <input  class="size" type="checkbox" name="size" id="size" value="<%= size.id %>">
                        <%= size.name %>
                        <% }) %>
                </fieldset>
                <select id="oferts" class="detalle">
                    <option value="" selected>Editar oferta</option>
                    <option value="true">En oferta</option>
                    <option value="false">Sin oferta</option>
                </select>
                <input type="button" id="submit" value="Editar"  class="detalle">
                <input type="button" id="reset" value="Resetear campo"  class="detalle">
            </section>
        </form> 
        <% } %>
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>