<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>    
        <% if (product) { %>   
        <form action="/products/update/<%= product.id %>?_method=PUT" method="post" id="infoProducto" enctype="multipart/form-data" >
            <section id="imagen">
                <figure>
                    <img src="/<%= product.images[0].url %>">
                </figure>
                <input type="file"  id="image" name="image" class="boton-img" multiple>
            </section>
            <section id="detalles">
                <label class="detalle" name="id">N° de Producto: <%= product.id %></label>
                <input class="detalle" type="text" id="name" name="name" value="<%= product.name %>">
                <% if (locals.errores && locals.errores.descr) { %>
                    <p class="feedback">
                        <%= locals.errores.descr.msg  %> 
                    </p>
                <% } %> 
                <fieldset class="detalle">
                    <label id="precio">$ 
                        <input type="number" value="<%= product.price %>" id="price" name="price">
                    </label>
                </fieldset>
                <select id="type" class="detalle" name="type">
                    <option value="" >Apto para</option>
                        <% types.forEach(type => { %>
                            <% if (type.id == product.type.id) { %>
                                <option selected value="<%= type.id %>"><%= type.typeName %></option>
                            <% } else { %>
                                <option  value="<%= type.id %>"><%= type.typeName %></option>
                            <% } %>
                        <% }) %>
                </select>
                <textarea class="detalle" id="descr" name="descr"><%= product.description%></textarea>
                <% if (locals.errores && locals.errores.descr) { %>
                    <p class="feedback">
                        <%= locals.errores.descr.msg  %> 
                    </p>
                <% } %> 
                <select id="category" name="category" class="detalle">
                    <option value="" >Editar categoría</option>
                    <% category.forEach(category => { %> <!-- preseleccionar categoria -->
                        <% if (category.id == product.category.id) { %>
                            <option selected value="<%= category.id %>"><%= category.categoryName %></option>
                        <% } else { %>
                            <option  value="<%= category.id %>"><%= category.categoryName %></option>
                        <% } %>
                    <% }) %>
                </select>
                <fieldset class="select detalle">
                    <label class="checkbox" for="size">Tamaño:</label><br><br>
                        <% size.forEach(size => { %><!-- preseleccionar categoria -->
                            <% if (product.sizes.map(size => size.id).includes(size.id)) { %>
                                <input  checked class="size" type="checkbox" name="sizes" id="size" value="<%= size.id %>">
                            <% } else { %>
                                <input  class="size" type="checkbox" name="sizes" id="size" value="<%= size.id %>">
                            <% } %>
                            <%= size.sizeName %>
                        <% }) %>
                </fieldset>
                <select id="oferts" name="oferts" class="detalle">
                    <option value="" disabled>Editar oferta</option><!-- preseleccionar categoria -->
                    <option value="true" <%= product.oferts ? "selected" : null %> >En oferta</option>
                    <option value="false" <%= !product.oferts ? "selected" : null %>>Sin oferta</option>
                </select>
                <input type="submit" id="submit" value="Editar"  class="detalle">
                <input type="reset" id="reset" value="Resetear campo"  class="detalle">
                <section id="errores-form"></section>
            </section>
        </form> 
        <% } %>
    </main>
    <%- include ("../partials/footer.ejs") %> 
    <script src="/js/editProduct.js"></script>
</body>
</html>