<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>
        <section id="carrito">
            <% if (products) { %>
            <article class="product-info">
                <figure>
                    <img src="/<%= products.images[0].url %>" alt="">
                </figure>
                <section class="product-unit">
                    <h3 class="product-id"><%= products.name %></h3>
                    <p class="precio">Precio: $ <%= products.price %></p>
                    <form class="cantidad" action="/" method="post">
                        <input type="number" id="cantidad" name="cantidad">
                    </form>
                    <nav class="product-delete">
                        <a href="/"><i class="fas fa-trash-alt"></i></a>
                    </nav>
                </section>   
            </article>
            
            <form id="code-box" method="post" action="/">
                <input class="info" type="text" placeholder="Ingrese código de descuento">
                <p>MONTO DE DESCUENTO</p>
            </form>
            <form id="code-box" method="post" action="/">
                <input class="info" type="text" placeholder="Ingrese código postal">
                <p>MONTO DEL ENVIO</p>
            </form>

            <form id="check-out" action="/" method="post">
                <p>TOTAL COMPRA</p>
            </form>
            <form id="check-out-button" action="/" method="post">
                <button>Seguir comprando</button>
                <button>Check out</button>
            </form>
            <% } else { %>
                <h2 id="sinProductos">No tenes productos en el carrito de compras</h2>
            <% }  %>
        </section>
        
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>