<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>
        <% if (product) { %>      
        <section id="detalleProducto">
            <nav id="socialMedia">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </nav>
            <figure><img src="<%= product.images[0].url %> "></figure>
            <article class="infoProducto">
                <h2 class="nombreProducto"><%= product.name %></h2>
                <h3 class="precio">$<%= product.price %></h3>
                <p><%= product.descr %></p>
                <section id="botones">
                    <form class="shopping" action="/products/cart/<%= product.id %>" method="post">
                        <input type="number" id="cantidad" name="cantidad">
                        <button type="submit">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                    <form class="favorito" action="/userProfile/favoritos/<%= product.id %>"  method="post">
                        <button type="submit">
                            <i class="fas fa-heart"></i>
                        </button>
                    </form>
                    <form  method="get" action="/products/edit/<%= product.id %>"  method="post" class="edit">
                        <button type="">
                            <i class="fas fa-edit"></i>
                        </button>
                    </form>
                </section>
            </article>
        </section>
       <% } %>
        <section id="interesar">
            <h1>TE PUEDEN INTERESAR</h1>
            <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    <article id="producto">
                        <a href="/products/detail/<%= product.category.name %>/<%= product.id %>"> <!-- NO VAN LOS :-->
                            <figure>
                                <img src="<%= product.images[0].url %> " alt="">
                            </figure>
                            <section class="product-info">
                                <p class="descripcion"><%= product.name %></p>
                                <p class="precio">$<%= product.price %></p>
                            </section>
                        </a>
                    </article>    
                <% }) %>
            <% }%>
        </section>      
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>