<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>
        <section id="carrito">
            <% if (cart.items.length > 0) { %>
            <% cart.items.forEach(product => { %>
             
                <article class="product-info">
                    <figure>
                        <img src="/<%= product.images[0].url %>" alt="">
                    </figure>
                    <section class="product-unit">
                        <h3 class="product-id"><%= product.name %></h3>
                        <p class="precio">Precio: $ <%= product.price %></p>
                        <form class="cantidad" action="/products/cart/<%= product.id %> " method="post">
                            <input type="number" id="quantity" name="quantity" min="1" value="<%= product.quantity %>">
                            <button type="submit"><i class="fas fa-sync-alt"></i></button>
                        </form>
                        <form class="product-delete" action="/products/cart?_method=DELETE" method="post">
                            <input type="hidden" name="id" value="<%= product.id %>">
                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </section>   
                </article>
            <% }) %>
            
            <form id="code-box" method="post" action="/">
                <input class="info" type="text" placeholder="Ingrese código de descuento">
                <p>MONTO DE DESCUENTO</p>
            </form>
            <form id="code-box" method="post" action="/">
                <input class="info" type="text" placeholder="Ingrese código postal">
                <p>MONTO DEL ENVIO</p>
            </form>

            <form id="check-out" action="/" method="post">
                <p>TOTAL COMPRA $<%= total %> </p>
            </form>
            <form id="check-out-button" action="/" method="post">
                <button>Seguir comprando</button>
                <button>Check out</button>
            </form>
            <% } else { %>
                <h2 id="sinProductos">No tenes productos en el carrito de compras</h2>
            <% }  %>
        </section>
        
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>