<%- include ("partials/head-index.ejs") %> 
<body>
    <%- include ("partials/header-index.ejs") %> 
    <main>
        <section id="destacados">
            <h1>DESTACADOS</h1>
            <% if (products.length > 0) { %>
             <% products.forEach(product => { %>
                <article>
                    <a href="/productDetail/<%= product.id %>"> <!-- NO VAN LOS :-->
                        <figure>
                            <img src="<%= product.images[0].url %> " alt="">
                        </figure>
                        <section class="product-info">
                            <p class="descripcion"><%= product.name %></p>
                            <p class="precio">$<%= product.price %></p>
                        </section>
                    </a>
                </article>
             <% }) %>
            <% } %>
        </section>
        <section id="kits">
            <h1>NUESTROS KITS</h1>
            <a href="#">
                <article id="almacen">
                    <figure>
                        <img src="/img/productos/kits/kitAlmacen.jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Recargate de energía</p>
                    </section>
                </article>
            </a>
            <a href="#">
                <article id="gourmet">
                    <figure>
                        <img src="/img/productos/kits/kitGourmet.jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Date un gustito</p>
                    </section>
                </article>
            </a>
            <a href="#">
                <article id="cosmetica">
                    <figure>
                        <img src="/img/productos/kits/kitCosmetica.jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Cuidado personal</p>
                    </section>
                </article>
            </a>
        </section>
    </main>
    <%- include ("partials/footer.ejs") %> 
</body>
</html>