<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>
        <section id="carrito">
            <% if (cart.items.length > 0) { %>
            <% items.forEach(item => { %>
                <article class="product-info">
                    <figure>
                        <img src="/<%= item.product.images[0].url %>" alt="">
                    </figure>
                    <section class="product-unit">
                        <h3 class="product-id"><%= item.product.name %></h3>
                        <p class="precio">Precio: $ <%= item.productPrice %></p>
                        <form class="cantidad" action="/products/cart/<%= item.product.id %> " method="post">
                            <input type="number" id="quantity" name="quantity" min="1" value="<%= item.productQuantity %>">
                            <button type="submit"><i class="fas fa-sync-alt"></i></button>
                        </form>
                        <form class="product-delete" action="/products/cart?_method=DELETE" method="post">
                            <input type="hidden" name="id" value="<%= item.product.id %>">
                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </section>   
                </article>
            <% }) %>

            <form id="check-out" action="/" >
                <p class="totalCompra">TOTAL COMPRA</p>
                <p class="totalCompra"> $<%= total %> </p>
            </form>
            <form id="check-out-button" action="/" method="get">
                <button type="submit">Seguir comprando</button>
                <button>Check out</button>
            </form>
            <% } else { %>
                <h2 id="sinProductos">No tenes productos en el carrito de compras</h2>
            <% }  %>
        </section>
        
    </main>
    <%- include ("../partials/footer.ejs") %> 
    <script src="/js/header.js"></script>
</body>
</html>